body {
  text-align: center;
  width: 100%;
  margin: 0;
}

header {
  color: white;
  background-color: rgba(62, 5, 176, 0.863);
  padding: 15px 0 15px 0;
  margin-bottom: 2rem;
}

#side-form {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(118, 116, 120, 0.697);
  top: 0;
  display: none;
}

#side-form div {
  width: 25%;
  background-color: rgba(234, 226, 253);
  border-radius: 5px;
  margin: 1rem auto;
  padding: 8px;
  position: fixed;
  top: 20%;
  left: 35%;
  right: 35%;
}

#side-form:target {
  display: block;
}

#side-form form {
  padding: 2px 8px;
}

#side-form h3 {
  margin: 3px auto;
}

#side-form label {
  display: block;
  font-weight: bolder;
}

.error input {
    border-color: rgb(253, 5, 5);
    color: rgb(252, 6, 6);
    background-color: rgb(253, 219, 219);


}

#side-form input {
  display: block;
  width: 45%;
  margin: auto;
}

.error label {
    color: rgb(136, 2, 2);

}

#Cancel {
  font: inherit;
  color: rgba(62, 5, 176, 0.863);
  padding: 7px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

#Cancel:hover {
    background-color: rgb(234, 210, 250);
}

#btn {
  font: inherit;
  padding: 3px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: rgba(62, 5, 176, 0.863);
  border: 1px solid rgba(62, 5, 176, 0.863);
  color: white;
  cursor: pointer;
}

.Players {
  display: inline-block;
  margin: 0 0.5rem;
  background-color: rgb(234, 210, 250);
  width: 14%;
  border-radius: 5px;
  padding-bottom: 1rem;
}

.Players span {
  display: block;
}

.Players button {
  font: inherit;
  margin: auto;
  background-color: rgb(234, 210, 250);
  border: 1px solid rgb(234, 210, 250);
  color: rgba(62, 5, 176, 0.863);
  cursor: pointer;
}

.Players button:hover {
    background-color: rgb(224, 189, 248);

}

#play {
  width: 10%;
  padding: 6px;
  border-radius: 3px;
  background-color: rgba(62, 5, 176, 0.863);
  margin: 0.5rem auto;
  color: white;
}

.Players h3 {
  color: rgba(62, 5, 176, 0.863);
  font-weight: bold;
  text-transform: uppercase;
}

.Players span {
  color: rgba(23, 5, 59);
  font-weight: bolder;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.Players p {
  color: rgba(0, 0, 0);
  font-weight: bold;
}

#Game {
    display: none; 
}

#Game div {
  padding: 1rem 2rem;
  color: white;
  background-color: rgba(23, 5, 59);
  margin: auto;
  border-radius: 5px;
  width: 30%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: none;
}

#Game h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

#active-player-name {
  font-weight: bold;
  color: rgba(62, 5, 176, 0.863);
}

#Game-board {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 6rem); /*6rem 6rem 6rem*/
  grid-template-rows: repeat(3, 6rem); /*6rem 6rem 6rem*/
  justify-content: center;
  gap: 0.5rem;
}

#Game-board li {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  background-color: rgba(193, 170, 248);
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: 2px;
}

#Game-board li:hover {
  background-color: rgba(62, 5, 176, 0.863);
}

#Game-board li.disabled {
  background-color: rgba(62, 5, 176, 0.863);
  color: white;
  cursor: default;
}
